body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

canvas {
  position: fixed; /* or absolute */
  left: 40%;
  scale: 90%;
}
